.toggle-btn {
    width: 80px;
    height: 40px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
  }
  
  .toggle-btn .inner-circle {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
  }
  
  .toggle-btn.active {
    background: #00acee;
  }
  