.query-container {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(144, 142, 142);
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
  }
  
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  
  .docs-section {
    padding: 10px;
  }
  
  .query-editor-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .variables-section,
  .headers-section {
    margin-top: 10px;
  }
  
  .variables-section h3,
  .headers-section h3 {
    margin: 5px 0;
  }
  
  .response-field {
    margin: 5px;
  }
  
  .run-button,
  .docs-button {
    height: 40px;
    background-color: #ffcccc;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  
  .query-editor,
  .variable-editor,
  .headers-editor {
    width: 100%;
    margin: 5px;
  }
  
  .query-editor {
    flex: 1;
  }
  
  .variable-editor,
  .headers-editor {
    height: 100px;
  }
  
  iframe {
    width: 100%;
    height: 600px;
  }

  .collapse-button,
  .control-button {
    display: inline-flex;
    height: 20px;
    background-color: #ffcccc;
    padding: 5px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin: 2px;
  }

.editor-container.collapsed .variable-editor,
.editor-container.collapsed .headers-editor {
  display: none;
}

  